// 颜色定义规范
$color-background: #fff;
$color-theme: #d43d3d;
$color-normaltext: #505050;
$color-min-text: #999;

//字体定义规范
$font-size-normal: 17px;
$font-size-normal2: 34px;
$font-size-normal3: 51px;
